.dropdown-menu > li:first-child > a{
    border-radius: 10px 10px 0 0;
    padding-top: 12px;
}
.dropdown-menu > li:last-child > a{
    border-bottom: 0 none;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 12px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #FFFFFF;
    color: #333333;
    opacity: 1;
    text-decoration: none;
}
.main .motto{
    min-height: 140px;
    font-weight: 300;
}
.main .motto, .main .subscribe .info-text{
    font-size: 28px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
    text-align: center;
    margin-top: 50px;  
}
